* {
    text-align: justify;
}

img {
    width: 500px;
    height: auto;
}

body {
    font-family: sans-serif;
    background-color: rgb(155, 98, 25);
    color:rgb(236, 219, 195);
}

a {
    color: white;
}